:root {
  --theme-color: #5d89ec;
  --background-color: #fbfbfb;
  --sidebar-background: #fff;
  --text-color: #34495e;
  --sidebar-li-color: #505d6b;
}

body {
  color: var(--text-color);
}

.copyright a {
  display: inline!important;
  font-size: inherit!important;
}

.sidebar {
  background-color: var(--sidebar-background);
}

.sidebar ul li a {
  color: var(--sidebar-li-color);
}


.anchor, .anchor span {
  color: var(--text-color);
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--theme-color);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cover.show {
  animation: fadein 0.25s;
}

body,
.cover,
main {
  background: var(--background-color) !important;
}

.app-sub-sidebar li:before {
  content: "•";
}

.cover:not(.show) + main {
  animation: fadein 0.25s;
}

.cover.show + main {
  display: none;
}

.app-name-link > img {
  padding: 0 1rem;
}

.content img {
  max-width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .content img {
    max-width: 100%;
  }
}
